@font-face
  font-family: 'AvantGardeCTT'
  font-style: normal
  src: local('AvantGardeCTT'), local('AvantGardeCTT-Regular'), url(https://allfont.ru/cache/fonts/avantgardectt_caeaf746fc19648d748ca8d04dc796eb.woff) format('woff'), url(https://allfont.ru/cache/fonts/avantgardectt_caeaf746fc19648d748ca8d04dc796eb.ttf) format('truetype')
  
  
body
	font-family: 'AvantGardeCTT'
	margin: 0
.app
	display: grid
	height: 100vh
	grid-template: auto minmax(100px, 1fr) / 170px 1fr
	
	
///////////////////////////////////////////////////////////////
////////////////////////////ШАПКА/////////////////////////////
//////////////////////////////////////////////////////////////
.header
	//*у 0 не обязательно пиксели прописывать
	box-shadow: 0px 0 70px #dbdadb	      
	z-index: 10
	background: #fff
	grid-column: 1/-1
	padding: 10px 50px
	display: grid              //*repeat(3, auto)
	grid-template-columns: 1fr auto auto auto
	&-images
		align-self: center
		justify-self: start
		&-logo
			width: auto
			height: 40px
		&-beta
			vertical-align: 14px
	&-notifications
		margin: 15px
		color: #7E2E53
		justify-self: center
		align-self: center
		position: relative
		&-icon
			font-size: 22px
		&-number
			color: #fff
			font-size: 7px
			top: -4px
			left: 1.5em
			position: absolute
			padding: 1px 4px
			border: 0.25em solid #fff
			border-radius: 12px
			background-color: #E14F59
			text-align: center
	&-balance
		margin: 15px
		font-weight: 600
		border: 0.15em solid #EAEAEA
		display: flex
		flex-direction: row
		overflow: hidden
		justify-self: center
		align-self: center
		color: #7F2E53
		text-decoration: none
		border-radius: 13px
		padding: 0.5em 0.8em
		&-icon
			font-size: 21px
		&-text
			padding-left: 2% //* в px
	&-card
		border-radius: 10px
		margin-left: 10px
		color: #7F2E53
		box-shadow: 0px 0 70px #CACACA  //* нее, тебе болье пододет цвет #bebebe с #bababa
		position: relative
		font-weight: 600
		&-client 
			padding: 5px
			&-line
				display: flex
				flex-direction: row
				&-img
					height: 45px
					padding: 5px

				&-name
					padding: 5px 25px 5px 5px
				&-role
					color: #989593
					padding: 0px 25px 5px 5px
		&-arrow
			color: #989593
			position: absolute
			top: 20px
			right: 13px
		//* нет теней
		&-box
			position: absolute
			width: 100%
			background-color: #fff
			border-top: 2px solid #CECECA
			border-image: linear-gradient(90deg, #fff, #CECECA , #fff)
			border-image-slice: 1
			border-radius: 0px 0px 10px 10px
			display: none

			&-button
				//*Повторяются
				border-radius: 5px 10px
				display: flex
				flex-direction: row
				padding: 3% //* в px
				background-color: #fff
				color: #989593
				border: none
				justify-self: start
				align-self: end
				cursor: pointer
				outline: none
				//*из-за работы скрипта не будет даже мгновения при котором этот псевдокласс отработает
				&:hover
					color: #7F2E53
					transition: .4s
				&-icon
					padding-right: 2px
		//*не правильно прописан, должен быть &.active из-за чего еще и не правильная вложенность
		//*пропиши аниимацию при появлении
		//* P.S. transform тебе в помощь. У меня мысля сделать появление за счет изменения высоты                                                                                                                                                                P.P.S. вот кусок кода )) transform: scaleX(0) transform-origin: top
		.active
			display: block			

//////////////////////////////////////////////////////////////
////////////////////////////САЙДБАР///////////////////////////////
//////////////////////////////////////////////////////////////////
<<<<<<< HEAD
<<<<<<< HEAD
aside 
	height: 100%
=======
aside
>>>>>>> origin/master
=======
aside
>>>>>>> 7aa22f920d557e58fef0920692f9bbecc9546b39
	box-shadow: 0 0 70px #A9A9A9 
	width: auto
	z-index: 6
	background-color: #fff
.box
	padding: 20px
	display: flex
	justify-content: center
	&-menu
		display: block
		width: 100px
		height: 100px 
		overflow: hidden
		border-radius: 50%
		position: relative
		&-circle
			background: #EDECEC
			width: 100%
			height: 100%
			border-radius: 50%
			left: 20px
			&-icon
				position: absolute
				font-size: 14px
				top: 2px
				color: #B7B5B4
				width: 15px
				text-align: center
				height: calc(49% - 2px) //* хрень, здесь не может быть 49%, только 50, видимо ты не понимаешь зачем здесь проценты
				left: calc(50% - 7px)
				transform-origin: 50% 100%
				transition: .3s
				cursor: pointer
				&>i
					position: relative
				&:before
					color: #9B305C 
					content: ""
					display: block
					position: absolute
					top: -9px
					left: -20px
					transition: .3s
					border-top: 0px solid
					width: 0
					border-left: 16px solid transparent
					border-right: 16px solid transparent
				&:hover
					color: #fff
					&:before
						width: 22px
						border-top: 35px solid
				&:nth-child(2)
					transform: rotate(45deg)
					&>i
						transform: rotate(-45deg)
				&:nth-child(3)
					transform: rotate(90deg)
					&>i
						transform: rotate(-90deg)
				&:nth-child(4)
					transform: rotate(135deg)
					&>i
						transform: rotate(-135deg)
				&:nth-child(5)
					transform: rotate(180deg)
				&:nth-child(6)
					transform: rotate(225deg)
					&>i
						transform: rotate(-225deg)
				&:nth-child(7)
					transform: rotate(270deg)
					&>i
						transform: rotate(-270deg)
				&:nth-child(8)
					transform: rotate(315deg)
					&>i
						transform: rotate(-315deg)
		&-center 
			background: #fff
			width: 55%
			height: 55%
			position: absolute
			top: 22.5%
			left: 22.5%
			border-radius: 50%
			&-icon
				color: #B7B5B4
				position: absolute
				top: calc(50% - 13px)
				left: calc(50% - 13px)
				border-radius: 50%
				border: 4px solid
				padding: 1px 2px
/////////////////////////////////////////////////////////////////
/////////////////////////СПИСОК/////////////////////////////////
////////////////////////////////////////////////////////////////
.items
	display: flex
	flex-direction: column
	margin-bottom: 10px
	&-item
		padding: 30px 30px
		text-decoration: none
		color: #B7B5B4
		font-size: 12px
		font-weight: 900
		border-bottom: 2px solid #CECECA
		border-image: linear-gradient(90deg, #fff, #CECECA , #fff)
		border-image-slice: 1 
		&-icon
			font-size: 22px
			padding-right: 8px
			vertical-align: -2px
		.clipboard
			font-size: 26px
		&:active
			color: #AF3060
		&:hover
			color: #AF3060
			transition: .4s
	.top
		border-top: 2px solid #CECECA
		border-image: linear-gradient(90deg, #fff, #CECECA , #fff)
		border-image-slice: 1 




.project
	display: grid
	grid-template-columns: 1fr 3fr
	
//////////////////////////////////////////////////////////////////////////
/////////////////////////////ХРОНОЛИГИЯ//////////////////////////////////
/////////////////////////////////////////////////////////////////////////
.chronology
	overflow-y: auto
	border-right: 2px solid #CECECA
	border-image: linear-gradient(0deg, #fff, #CECECA , #fff)
	border-image-slice: 1
	padding: 60px 7% 20px 7% //*спорное использование процентов, нооо пусть будет, докалупаться то надо))
.headline
	color: #9B2E5A
	text-align: start
	font-weight: 900
.text-center
	text-align: center
.button
	width: 100%
	display: grid
	grid-template-columns: auto auto
	grid-gap: 10px
	&-action
		border: 0.15em solid #DBDADA
		color: #7D7977
		background-color: #fff
		border-radius: 13px
		font-size: 12px
		font-weight: 600
		padding: 8px
		font-family: 'AvantGardeCTT'
		outline: none
		&:hover
			border: 0.15em solid #9b2e5a
			background-color: #9b2e5a
			color: #fff
			transition: .4s
		//* все тот же прикол с бессмысленностю прописывать
		&:active
			border: 0.15em solid #9b2e5a
			background-color: #9b2e5a
			color: #fff

//* у .list свойств нет, а он стоит в отдельной строчке и после компиляции будет отдельно прописан
//* пиши сразу .list-details
.list
	&-details
		border-bottom: 2px dotted #bababa//* они и так во всю ширину потому что боксовый
		&-box
			font-weight: 600
			bottom: -3px
			position: relative
			display: flex
			justify-content: space-between

			&-value
				
				background-color: #fff
				color: #ACACAC
			&-number
				color: #B43E6C
				
				background-color: #fff
.text
	width: 100%
	color: #7a7774
	font-size: 14px
.container	
	line-height: 100%
.task
	padding-left: 20px
	&-items
		color: #b03564

// /////////////////////////////////////////////////////////////
/////////////////////////ПРИМЕРЫ////////////////////////////////
////////////////////////////////////////////////////////////////
.example
	border: 0.08em solid #B8B6B5 
	border-radius: 10px
	padding: 10px 0px
	color: #94908C
	margin: 10px 0px
	&-subtitle
		text-align: center
		font-size: 13px
		font-weight: 600
	&-content
		padding: 20px 30px
		display: grid
		grid-template-columns: 1fr 2fr
		grid-template-rows: auto auto
		&-picture
			&-pic
				max-width: 60px
		&-loading
			&-text
				font-size: 11px
				font-weight: 600
			&-button
				text-decoration: underline #C17D98
				border: none
				background: #fff
				color: #C17D98
				font-size: 11px
				font-weight: 700
				padding: 0px
				cursor: pointer
// //////////////////////////////////////////////////////////////
/////////////////////////СООБЩЕНИЯ////////////////////////////////
//////////////////////////////////////////////////////////////////

.correspondence
	overflow-y: auto
	padding: 60px 100px 60px 20px
.message
	margin: 20px 10px
	position: relative
	padding: 15px 50px 15px 30px
	border: 2px solid #BA3165
	border-radius: 20px 20px 5px 20px
	&-box
		display: grid
		grid-template-columns: 1fr 3fr
		grid-gap: 10px
		&-text
			color: #BD577E
			font-weight: 500
		.withoutpic
			grid-column: 1/3
		.grey
			grid-column: 1/3
			color: #989593
		&-photos
			grid-row: 1/3
			display: grid
			grid-template-rows: 150px
			grid-auto-rows: 70px
			grid-gap: 8px
			grid-template-columns: repeat(3, 1fr)
			&-pic
				background: center #ddd url("https://queimados.rj.gov.br/images/portal/file.png") no-repeat
				background-size: cover
				padding: 5px
				border-radius: 10px
				&:first-child
					grid-column: 1/-1  

		&-butons
			color: #B03564
			font-weight: 600
			font-size: 16px
			&-text
			.bottom	
				font-weight: 500
			// g пропущенна
			.weidth
				font-weight: 600
			&-container
				display: flex
				flex-direction: row
				&-button
					margin: 10px 7px 10px 0px
					width: 100%
					max-width: 140px
					padding: 2px
					border: 0.07em solid #B03564	
					border-radius: 7px
					background: #fff
					color: #B03564	
					font-family: 'AvantGardeCTT'
					outline: none
					font-weight: 600
					cursor: pointer
					&:hover
						background: #B03564
						color: #fff

	&-time
		position: absolute
		bottom: 10px
		right: 15px
		font-size: 12px
		color: #B6B6B6
.client
	border-radius: 20px 20px  20px 5px
	border: 2px solid #989593
	color: #989593
		




